<header style="background-color: rgb(73, 188, 255);">
  <app-navbar></app-navbar>
</header>
<main>
  <section class="section-3 container-fluid p-0 text-center">
    <div class="mainbox">
      <div class="box1">
        <H3>Profile</H3>
        <img src="../../../assets/img55.jpg">
        <div class="b1">
          <button class="btn btn-warning">Edit photo</button>
          <button class="btn btn-warning btn1">Edit profile</button>
        </div>
      </div>
      <div class="box2">
        <p>I'm Shubham Chaudhari and Im abovee 20 years and you can send your emails to <a href="mailto:shubham.chuadhari.0961@gmail.com">shubham.chuadhari.0961&#64;gmail.com</a>. I live in the state of Maharashtra. I like to play hockey, football and reading books. And Please send me newsletters. Please reach out to me on my phone number.</p>
        <button class="btn btn-success">I Agree</button>
      </div>

    </div>
    
  </section>
</main>
<footer>
    <div class="container text-center">
      <h3>Subscribe to our Job Seeker Mailing List</h3>
      <input
        type="email"
        class="input px-2 py-2"
        placeholder="Enter Your Email Address"
      />
    </div>
</footer>