<header>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"> DEMO APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-align-right text-light"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:4200/"
              >HOME
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/">JOBS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/">CLIENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/">EMPLOYERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
